<ion-header>
  <ion-toolbar>
    <ion-title>Past Records</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="image" *ngFor="let d of (userPosts | async)?.data" (click)="checkUserData(d)">
      <ion-icon></ion-icon>
      <ion-item>
        <ion-label>
          <h2 *ngIf="d.current_date">Date: {{ d.current_date.toDate() | date }}</h2>
          <p>Diabetic Prediction: {{d.diabetic_prediction}}</p>
          <p>Cardiovascular Probability: {{d.cardiopositve}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="redirectToChat()">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
