<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Register</ion-title>
    </ion-toolbar>
    <style>
        :root {
            --ion-safe-area-top: 20px;
            --ion-safe-area-bottom: 22px;
        }

        header {
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 0.05em;
            margin-bottom: 1.25em;
            text-transform: uppercase;
        }

        section {
            margin-top: 1em;
            margin-bottom: 2.5em;
        }

        section:not(.full-width),
        .full-width > header {
            padding: 0 10px;
        }
    </style>
</ion-header>

<ion-content>
    <section>
    <ion-list class="padding">
        <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button fill="solid" expand="block" color="primary" (click)="register()">SignUp</ion-button>
    <ion-button fill="outline" size="block" color="primary" (click)="loginRoute()">LOGIN</ion-button>
    </section>
</ion-content>
